<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

       <bean id="userService" class="com.simple.loveDingZhi.service.UserServiceImpl"></bean>
       <bean id="designerCertificationService" class="com.simple.loveDingZhi.service.DesignerCertificationServiceImpl"></bean>
       <bean id="designDrawingService" class="com.simple.loveDingZhi.service.DesignDrawingServiceImpl"></bean>
       <bean id="designDrawingImgService" class="com.simple.loveDingZhi.service.DesignDrawingImgServiceImpl"></bean>
       <bean id="designerService" class="com.simple.loveDingZhi.service.DesignerServiceImpl"></bean>
       <bean id="designerLogoService" class="com.simple.loveDingZhi.service.DesignerLogoServiceImpl"></bean>
</beans>