<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simple.loveDingZhi.mapper.DesignerCertificationMapper" >
  <resultMap id="BaseResultMap" type="com.simple.loveDingZhi.po.DesignerCertification" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="edu_level" property="eduLevel" jdbcType="VARCHAR" />
    <result column="scholl_name" property="schollName" jdbcType="VARCHAR" />
    <result column="major" property="major" jdbcType="VARCHAR" />
    <result column="major_certification_url" property="majorCertificationUrl" jdbcType="VARCHAR" />
    <result column="works_url" property="worksUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, edu_level, scholl_name, major, major_certification_url, works_url
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.simple.loveDingZhi.po.DesignerCertificationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from designer_certification
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from designer_certification
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from designer_certification
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.simple.loveDingZhi.po.DesignerCertificationExample" >
    delete from designer_certification
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.simple.loveDingZhi.po.DesignerCertification" >
    insert into designer_certification (id, user_id, edu_level, 
      scholl_name, major, major_certification_url, 
      works_url)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{eduLevel,jdbcType=VARCHAR}, 
      #{schollName,jdbcType=VARCHAR}, #{major,jdbcType=VARCHAR}, #{majorCertificationUrl,jdbcType=VARCHAR}, 
      #{worksUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.simple.loveDingZhi.po.DesignerCertification" >
    insert into designer_certification
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="eduLevel != null" >
        edu_level,
      </if>
      <if test="schollName != null" >
        scholl_name,
      </if>
      <if test="major != null" >
        major,
      </if>
      <if test="majorCertificationUrl != null" >
        major_certification_url,
      </if>
      <if test="worksUrl != null" >
        works_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="eduLevel != null" >
        #{eduLevel,jdbcType=VARCHAR},
      </if>
      <if test="schollName != null" >
        #{schollName,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        #{major,jdbcType=VARCHAR},
      </if>
      <if test="majorCertificationUrl != null" >
        #{majorCertificationUrl,jdbcType=VARCHAR},
      </if>
      <if test="worksUrl != null" >
        #{worksUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.simple.loveDingZhi.po.DesignerCertificationExample" resultType="java.lang.Integer" >
    select count(*) from designer_certification
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update designer_certification
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.eduLevel != null" >
        edu_level = #{record.eduLevel,jdbcType=VARCHAR},
      </if>
      <if test="record.schollName != null" >
        scholl_name = #{record.schollName,jdbcType=VARCHAR},
      </if>
      <if test="record.major != null" >
        major = #{record.major,jdbcType=VARCHAR},
      </if>
      <if test="record.majorCertificationUrl != null" >
        major_certification_url = #{record.majorCertificationUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.worksUrl != null" >
        works_url = #{record.worksUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update designer_certification
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      edu_level = #{record.eduLevel,jdbcType=VARCHAR},
      scholl_name = #{record.schollName,jdbcType=VARCHAR},
      major = #{record.major,jdbcType=VARCHAR},
      major_certification_url = #{record.majorCertificationUrl,jdbcType=VARCHAR},
      works_url = #{record.worksUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.simple.loveDingZhi.po.DesignerCertification" >
    update designer_certification
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="eduLevel != null" >
        edu_level = #{eduLevel,jdbcType=VARCHAR},
      </if>
      <if test="schollName != null" >
        scholl_name = #{schollName,jdbcType=VARCHAR},
      </if>
      <if test="major != null" >
        major = #{major,jdbcType=VARCHAR},
      </if>
      <if test="majorCertificationUrl != null" >
        major_certification_url = #{majorCertificationUrl,jdbcType=VARCHAR},
      </if>
      <if test="worksUrl != null" >
        works_url = #{worksUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simple.loveDingZhi.po.DesignerCertification" >
    update designer_certification
    set user_id = #{userId,jdbcType=INTEGER},
      edu_level = #{eduLevel,jdbcType=VARCHAR},
      scholl_name = #{schollName,jdbcType=VARCHAR},
      major = #{major,jdbcType=VARCHAR},
      major_certification_url = #{majorCertificationUrl,jdbcType=VARCHAR},
      works_url = #{worksUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>