<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.simple.loveDingZhi.mapper.MyDiyClothMapper" >
  <resultMap id="BaseResultMap" type="com.simple.loveDingZhi.po.MyDiyCloth" >
    <id column="my_diy_cloth_id" property="myDiyClothId" jdbcType="INTEGER" />
    <result column="business_cloth_id" property="businessClothId" jdbcType="INTEGER" />
    <result column="logo_id" property="logoId" jdbcType="INTEGER" />
    <result column="is_business_logo" property="isBusinessLogo" jdbcType="BIT" />
    <result column="diy_img_url" property="diyImgUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    my_diy_cloth_id, business_cloth_id, logo_id, is_business_logo, diy_img_url
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.simple.loveDingZhi.po.MyDiyClothExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from my_diy_cloth
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from my_diy_cloth
    where my_diy_cloth_id = #{myDiyClothId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from my_diy_cloth
    where my_diy_cloth_id = #{myDiyClothId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.simple.loveDingZhi.po.MyDiyClothExample" >
    delete from my_diy_cloth
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.simple.loveDingZhi.po.MyDiyCloth" >
    insert into my_diy_cloth (my_diy_cloth_id, business_cloth_id, logo_id, 
      is_business_logo, diy_img_url)
    values (#{myDiyClothId,jdbcType=INTEGER}, #{businessClothId,jdbcType=INTEGER}, #{logoId,jdbcType=INTEGER}, 
      #{isBusinessLogo,jdbcType=BIT}, #{diyImgUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.simple.loveDingZhi.po.MyDiyCloth" >
    insert into my_diy_cloth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="myDiyClothId != null" >
        my_diy_cloth_id,
      </if>
      <if test="businessClothId != null" >
        business_cloth_id,
      </if>
      <if test="logoId != null" >
        logo_id,
      </if>
      <if test="isBusinessLogo != null" >
        is_business_logo,
      </if>
      <if test="diyImgUrl != null" >
        diy_img_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="myDiyClothId != null" >
        #{myDiyClothId,jdbcType=INTEGER},
      </if>
      <if test="businessClothId != null" >
        #{businessClothId,jdbcType=INTEGER},
      </if>
      <if test="logoId != null" >
        #{logoId,jdbcType=INTEGER},
      </if>
      <if test="isBusinessLogo != null" >
        #{isBusinessLogo,jdbcType=BIT},
      </if>
      <if test="diyImgUrl != null" >
        #{diyImgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.simple.loveDingZhi.po.MyDiyClothExample" resultType="java.lang.Integer" >
    select count(*) from my_diy_cloth
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update my_diy_cloth
    <set >
      <if test="record.myDiyClothId != null" >
        my_diy_cloth_id = #{record.myDiyClothId,jdbcType=INTEGER},
      </if>
      <if test="record.businessClothId != null" >
        business_cloth_id = #{record.businessClothId,jdbcType=INTEGER},
      </if>
      <if test="record.logoId != null" >
        logo_id = #{record.logoId,jdbcType=INTEGER},
      </if>
      <if test="record.isBusinessLogo != null" >
        is_business_logo = #{record.isBusinessLogo,jdbcType=BIT},
      </if>
      <if test="record.diyImgUrl != null" >
        diy_img_url = #{record.diyImgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update my_diy_cloth
    set my_diy_cloth_id = #{record.myDiyClothId,jdbcType=INTEGER},
      business_cloth_id = #{record.businessClothId,jdbcType=INTEGER},
      logo_id = #{record.logoId,jdbcType=INTEGER},
      is_business_logo = #{record.isBusinessLogo,jdbcType=BIT},
      diy_img_url = #{record.diyImgUrl,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.simple.loveDingZhi.po.MyDiyCloth" >
    update my_diy_cloth
    <set >
      <if test="businessClothId != null" >
        business_cloth_id = #{businessClothId,jdbcType=INTEGER},
      </if>
      <if test="logoId != null" >
        logo_id = #{logoId,jdbcType=INTEGER},
      </if>
      <if test="isBusinessLogo != null" >
        is_business_logo = #{isBusinessLogo,jdbcType=BIT},
      </if>
      <if test="diyImgUrl != null" >
        diy_img_url = #{diyImgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where my_diy_cloth_id = #{myDiyClothId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simple.loveDingZhi.po.MyDiyCloth" >
    update my_diy_cloth
    set business_cloth_id = #{businessClothId,jdbcType=INTEGER},
      logo_id = #{logoId,jdbcType=INTEGER},
      is_business_logo = #{isBusinessLogo,jdbcType=BIT},
      diy_img_url = #{diyImgUrl,jdbcType=VARCHAR}
    where my_diy_cloth_id = #{myDiyClothId,jdbcType=INTEGER}
  </update>
  <!--****************************************************************************************************-->
  <insert id="insertSelectiveReturnId" parameterType="com.simple.loveDingZhi.po.MyDiyCloth" >
    <selectKey keyProperty="myDiyClothId" order="AFTER" resultType="java.lang.Integer">
      select LAST_INSERT_ID()
    </selectKey>
    insert into my_diy_cloth
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="myDiyClothId != null" >
        my_diy_cloth_id,
      </if>
      <if test="businessClothId != null" >
        business_cloth_id,
      </if>
      <if test="logoId != null" >
        logo_id,
      </if>
      <if test="isBusinessLogo != null" >
        is_business_logo,
      </if>
      <if test="diyImgUrl != null" >
        diy_img_url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="myDiyClothId != null" >
        #{myDiyClothId,jdbcType=INTEGER},
      </if>
      <if test="businessClothId != null" >
        #{businessClothId,jdbcType=INTEGER},
      </if>
      <if test="logoId != null" >
        #{logoId,jdbcType=INTEGER},
      </if>
      <if test="isBusinessLogo != null" >
        #{isBusinessLogo,jdbcType=BIT},
      </if>
      <if test="diyImgUrl != null" >
        #{diyImgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
</mapper>